@using Gamemania.Models;
@model List<ProductModel>
@{
    ViewBag.Title = "";
}

<div class="jumbotron">
    @foreach (ProductModel Consoles in Model)
    {
        <a href="@Url.Action("Producten","Producten",new { consolenaam = Consoles.ConsoleLijst , categorieid = 3})"><img src="@Consoles.Plaatje" /></a>
    }

</div>
